.header-container {
  background: #ccc;
  padding: 20px 0
}

.header-box {
  width: 940px;
  position: relative;
  margin: auto;
}

.navigation-container ul li {
  display: inline;
  margin-left: 15px;
}

nav {
  position: absolute;
  top: 125px;
  right: 0;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c79;
  text-decoration: underline;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.input-default {
  display: block;
  margin-bottom: 20px;
  padding: 10px 5px;
  width: 50%;
}

.receive-email {
  margin: 20px 0;
}

footer {
  text-align: center;
  background: url('../images/bg.jpg') #ccc;
  padding: 40px 0;
}

.copyright {
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
}
