body {
  font-family: 'Montserrat', sans-serif;
}

.header-container {
  background: #ccc;
  padding: 20px 0
}

.header-box {
  width: 940px;
  position: relative;
  margin: auto;
}

.navigation-container ul li {
  display: inline;
  margin-left: 15px;
}

nav {
  position: absolute;
  top: 125px;
  right: 0;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c79;
  text-decoration: underline;
}

.banner {
	width: 100%;
}

main {
	width: 940px;
	margin: 0 auto;
}

.main-title {
	text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
}

.main-section {
  padding: 30px;
}

.main-section p {
  margin: 0 0 1em;
}

.main-section strong {
  font-weight: bold;
}

.main-section em {
  font-style: italic;
}

.image-tools {
  width: 120px;
  float: left;
  margin: 0 20px;
  border-radius: 3px;
}

/* p {
	text-align: center;
} */

/* 
#mission {
	font-size: 20px;
} */
/* 
em strong {
	color: #ff0000;
} */

.item {
	font-style: italic;
}

.map-section {
  padding: 3em 0;
}

.map-section p {
  margin: 0 0 2em;
  text-align: center;
}

.benefits-section {
	background: #fff;
	padding: 20px;
  clear: left;  /*limpa o float*/
}

.benefits-section ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.benefits-image {
	width: 60%;
}

.video {
  width: 560px;
  margin: 1em auto;
}

footer {
  text-align: center;
  background: url('../images/bg.jpg') #ccc;
  padding: 40px 0;
}

.copyright {
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
}