.header-container {
  background: #ccc;
}

.navigation-container li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}