.header-container {
  background: #ccc;
  padding: 20px 0
}

.header-box {
  width: 940px;
  position: relative;
  margin: auto;
}

.navigation-container li {
  display: inline;
  margin-left: 15px;
}

nav {
  position: absolute;
  top: 125px;
  right: 0;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c79;
  text-decoration: underline;
}

.product-list {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.product-list li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 10px;
}

.product-list li:hover {
  border-color: #c78c79;
}

.product-list li:active {
  border-color: #088C19;
}

.product-list li:hover h2 {
  font-size: 34px;
}

.product-list li:hover .product-price {
  color:  #088C19;
}

.product-list li:hover .product-description {
  font-style: italic;
}

.product-list h2 {
  font-size: 30px;
  font-weight: bold;
}

.product-description {
  font-size: 18px;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: url('../images/bg.jpg') #ccc;
  padding: 40px 0;
}

.copyright {
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
}